@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

/* MAIN LAYOUT */

.container {
  display: flex;
  min-width: 450px;
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-size: 1.5rem;
  width: 100%;
}

button {
  cursor: pointer;
}

.hidden {
  display: none;
}

p {
  line-height: 1.5;
}

/* HEADER */

.header-bg {
  background-image: url("images/header.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 1em 0.7em 2em;
  width: 100%;
  min-width: 450px;
  box-shadow: 0 2px 10px #252525;
}

.header-text {
  margin-left: 0.1em;
  color: whitesmoke;
  font-size: 1rem;
  margin-top: 1.5em;
  font-weight: 700;
}

/* MAIN */

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.food-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  width: 100%;
  border-bottom: 1px solid #8b8b8b;
  margin: 0 auto;
}

.food-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.food-name {
  font-weight: 700;
}

.food-ingredients {
  font-size: 1rem;
  color: #8b8b8b;
}

.food-cost {
  font-size: 1rem;
  font-weight: 700;
}

.food-cost,
.food-ingredients {
  grid-column: 2;
  margin-top: 0.5em;
  margin-right: 1em;
}

/* EMOJIS */

.order-emoji {
  text-align: center;
  font-size: 4rem;
}

/* BUTTONS */

.add-food-btn,
.reduce-food-btn {
  margin-left: auto;
  outline: none;
  border: 1px solid #252525;
  background-color: white;
  font-size: 2rem;
  border-radius: 50%;
  padding: 0.2em 0.5em;
  text-align: center;
  text-decoration: none;
}

.reduce-food-btn {
  font-size: 1rem;
  padding: 0.1em 0.5em;
  background-color: transparent;
  border-radius: 50%;
  margin-right: 10px;
}

.remove-btn {
  background-color: transparent;
  border: none;
  color: #8b8b8b;
  margin-left: 0.5em;
}

.complete-order-btn,
.submit-btn {
  width: 100%;
  background-color: #16db99;
  color: whitesmoke;
  padding: 1.5em;
  border: none;
  margin-top: 30px;
  border-radius: 1.5em;
  font-weight: 900;
  font-size: 1.6rem;
}

/* FINAL ORDER SECTION */

.order-section {
  padding: 1em;
  width: 100%;
  margin: 0 auto;
}

.order-title {
  width: 50%;
  margin: 0 auto 1.8em auto;
  text-align: center;
}

.order-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid #8b8b8b;
  padding-bottom: 1em;
  position: relative;
}

.order-item {
  margin: 0.3em 0;
}

.order-item-name {
  display: flex;
  text-align: center;
  align-items: center;
  font-weight: 900;
}

.total-price {
  font-weight: 900;
  margin: 0.5em 0;
}

.items-total-price {
  float: right;
}

/* MODAL */

.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.modal-inner {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 70%;
  width: 400px;
  padding: 3em;
  box-shadow: 0px 28px 80px 30px rgba(179, 182, 193, 1);
  border-radius: 10px;
}

.modal-title {
  text-align: center;
}

.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

.modal-form input {
  padding: 20px;
  font-size: 1rem;
  margin: 10px 0;
  outline: none;
}

.modal-close-btn {
  position: absolute;
  right: 30px;
  top: 20px;
  outline: none;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  color: red;
}

/* THANKS SECTION */

.thanks-section {
  padding: 40px;
  background-color: rgba(170, 255, 0, 0.2);
  color: green;
  font-size: 1.7rem;
  text-align: center;
  margin: 10px auto;
  width: 90%;
}

.thanksName {
  font-weight: bold;
}
